.container {
  font-family: 'Arial', sans-serif;
  background-color: #e5f5e8;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  background-color: #99e1a1;
}

header button {
  padding: 10px 20px;
  border: none;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  background-color: #99e1a1;
}

nav button {
  padding: 10px 20px;
  background-color: #e5f5e8;
  border: 2px solid #4caf50;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

nav button:hover {
  background-color: #4caf50;
  color: white;
}

.main-content {
  text-align: center;
  padding: 20px;
}

.main-content img {
  width: 100%;
  max-width: 600px;
  margin: 20px 0;
}

.circle-section {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}

.circle-section div {
  text-align: center;
}

.circle-section img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

footer {
  text-align: center;
  padding: 20px 0;
  background-color: #99e1a1;
}
.contenedor {
  display: flex;
  align-items: center;  /* Alinea verticalmente los elementos al centro */
}

.logo {
  margin-right: 10px;   /* Añade un pequeño espacio entre el logo y el texto */
}
